.custom-pagination {
  position: relative; /* Ensures it stays below the slider */
  bottom: 0; /* Moves it below */
  display: flex;
  justify-content: center;
  margin-top: 55px; /* Adds spacing */
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #618a8a; /* Customize color */
  opacity: 1;
  transition: 0.3s;
}

.swiper-pagination-bullet-active {
  background-color: #ff4500; /* Active dot color */
  transform: scale(1.2);
}
